.App {
  margin: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.counter-options {
  grid-column: 1;
  grid-row: 1;
}

.current-amount {
  grid-column: 2;
  grid-row: 1;
}

.current-amount-counter {
  font-size: 3rem;
}

.counter-controls {
  grid-column: 3;
  grid-row: 1;
}
